p {
    color:grey;
}
body {
    background-color: lightblue;
}
* {
    font-family: "Nunito", sans-serif;
}
h1, h2 {
    color:rgb(170, 130, 67);
    font-family: "Pacifico", cursive;
}
img, .description {
    width: 50%;
}
.left {
    width: 50%;
    float: left;
    margin-top: 18px;
}
.right {
    width: 50%;
    float: left;
}
.top, .left{
    padding-left: 25px;
}
.checked {
    text-decoration: line-through;
  }
  