p {
    color:grey;
}
body {
    background-color: lightblue;
}
h1, h2 {
    color:rgb(47, 47, 46);
    font-family: "Pacifico", cursive;
}
img, .description {
    width: 600px;
}
.left {
    width: 600px;
    float: left;
}