/* style weather */
.weather {
  place-self: center;
  padding: 50px;
  border-radius: 20px;
  background-color: rgb(241, 217, 185);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* style search bar */
.search-bar {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* style input */
.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  padding-left: 25px;
  color: #333;
  background: #fff;
  font-size: 25px;
}

/* style button */
button {
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
/* style search icon */
.search-bar img {
  width: 60px;
  padding: 10px;
}

.weather-icon {
  width: 300px;
}

.temp {
  font-size: 4rem;
  color: #333;
}

.city {
  font-size: 2.5rem;
}

/* style weather data */
.weather-data {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
  font-size: 1.5rem;
}
